.form {
  display: flex;
  width: 829px;
  gap: 12px;
  margin: 0 auto;
}

.cancel {
  margin-left: 68px;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 944px;
  column-gap: 16px;
  row-gap: 48px;
  margin: 48px auto;
  list-style: none;

  -webkit-animation-name: pickup;
          animation-name: pickup;
  /* -webkit-animation-delay: .5s;
          animation-delay: .5s; */
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pickup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  40% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  60% {
    transform: translateY(20px);
    opacity: 0.7;
  }
  80% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes pickup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  40% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  60% {
    transform: translateY(20px);
    opacity: 0.7;
  }
  80% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}